.input-content {
  display: flex;
  border: solid #bbb 1px;
  border-radius: 4px;
}

.input-label {
  display: flex;
  justify-content: center;
  width: 150px;
  background-color: #ddd;
  padding: 8px;
  border-radius: 4px 0 0 4px;
}

input {
  border: none;
  outline: none;
  padding: 8px;
}

.input-full-width {
  width: 100%;
}
